@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|PT+Serif:400,400i,700,700i");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "PT Serif", "Source Serif Pro", "Gentium Book Basic", serif !important;
  font-size: 20px;
  line-height: 1.5em; }
  @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 40px; } }

h1, h2, h3 {
  font-family: "Source Sans Pro", sans-serif !important;
  padding-top: 0;
  margin-top: 0;
  font-weight: 900;
  line-height: 1.1em;
  color: #1e3756; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em;
  margin-top: 1em; }

h3 {
  font-size: 1.2em;
  margin: 0em;
  color: black; }

p {
  line-height: 1.5em;
  margin: 0 0 1.5em; }

a {
  color: #4dadf7;
  text-decoration: none;
  border-bottom: #4dadf7 2px solid; }
  @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    a {
      border-bottom-width: 4px; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

article.index section.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  article.index section.content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    article.index section.content {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      article.index section.content:last-child {
        margin-right: 0; } }
  article.index section.content .big-text {
    font-size: 1.5em; }
article.index section#events {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  article.index section#events:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    article.index section#events {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-top: 2em; }
      article.index section#events:last-child {
        margin-right: 0; } }
  article.index section#events h2 {
    font-size: 1.5em;
    margin-top: 0; }
  article.index section#events .event {
    border-bottom: 2px dashed #666;
    margin-top: 2em; }
    @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      article.index section#events .event {
        border-bottom-width: 4px; } }
    article.index section#events .event:first-child {
      margin-top: 0; }
    article.index section#events .event:last-child {
      border-bottom-width: 0px; }
    article.index section#events .event .description p {
      font-size: .8em;
      line-height: 1.875em; }
      @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        article.index section#events .event .description p {
          font-size: 1em;
          line-height: 1.5em; } }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

article.game section.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    article.game section.content {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      article.game section.content:last-child {
        margin-right: 0; } }
  article.game section.content:last-child {
    margin-right: 0; }
  article.game section.content.centered {
    margin-left: 17.05961%; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      article.game section.content.centered {
        margin-left: 0%; } }
article.game section.aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  article.game section.aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    article.game section.aside {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      article.game section.aside:last-child {
        margin-right: 0; }
      article.game section.aside .block {
        margin-top: 2em; } }
  article.game section.aside .facts tbody tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 10px; }
  article.game section.aside h3 {
    margin-bottom: .5em; }

.games-we-play section.game {
  display: block;
  display: flex;
  margin-bottom: 2em; }
  .games-we-play section.game::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    .games-we-play section.game {
      display: block; } }
  .games-we-play section.game .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    flex: 1;
    order: 1;
    text-decoration: none;
    border-bottom-width: 0px;
    color: white;
    margin-left: -3.236em;
    padding-left: 3.236em; }
    .games-we-play section.game .title:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      .games-we-play section.game .title {
        margin-bottom: 2em;
        margin-left: -1.618em;
        padding-left: 1.618em;
        padding-right: 1.618em; } }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      .games-we-play section.game .title {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        text-align: center; }
        .games-we-play section.game .title:last-child {
          margin-right: 0; } }
    .games-we-play section.game .title h2 {
      margin-top: .5em;
      color: white;
      position: relative; }
      .games-we-play section.game .title h2 img {
        max-height: 1em;
        max-width: 90%;
        filter: invert(100%); }
      @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        .games-we-play section.game .title h2 {
          margin-top: 4em;
          margin-bottom: 2em; } }
    .games-we-play section.game .title.hero {
      background-size: cover;
      background-position: center center;
      min-height: 8em;
      position: relative; }
      .games-we-play section.game .title.hero::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3); }
  .games-we-play section.game .description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-top: 0.5em;
    flex: 1;
    order: 1; }
    .games-we-play section.game .description:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      .games-we-play section.game .description {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .games-we-play section.game .description:last-child {
          margin-right: 0; } }

article {
  display: block; }
  article::after {
    clear: both;
    content: "";
    display: block; }
  article .header {
    text-align: center;
    margin-bottom: 2em; }
    article .header h1 {
      margin: 0 0 20px;
      padding: 0; }
      article .header h1 img {
        max-height: 1em; }
    article .header .subtitle {
      font-style: italic;
      font-size: 1.5em;
      margin: 0;
      padding: 0; }
    article .header.hero {
      width: 100%;
      margin-left: -3.236em;
      margin-right: 3.236em;
      padding: 10em 3.236em 3em;
      background-size: cover;
      background-position: center center;
      position: relative; }
      @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        article .header.hero {
          margin-left: -1.618em;
          margin-right: 1.618em;
          padding: 4em 1.618em; } }
      article .header.hero h1 {
        color: white;
        position: relative; }
        article .header.hero h1 img {
          filter: invert(100%); }
      article .header.hero .subtitle {
        color: #ccc;
        position: relative; }
      article .header.hero::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3); }

article.page section.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  article.page section.content:last-child {
    margin-right: 0; }
  article.page section.content.centered {
    margin-left: 17.05961%; }

body {
  background: #eff1f5;
  color: #333; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

#body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-sizing: content-box;
  padding: 3.236em; }
  #body::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
    #body {
      padding: 1.618em; } }
  @media screen and (min-width: 1331px) {
    #body {
      margin: 4em auto; } }

#global-header {
  display: block;
  margin-bottom: 4em;
  text-align: center; }
  #global-header::after {
    clear: both;
    content: "";
    display: block; }
  #global-header #logo {
    margin-bottom: 1em; }
    #global-header #logo a {
      text-decoration: none;
      border-bottom-width: 0px; }
    #global-header #logo img {
      height: 10em; }
  #global-header .global-nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    #global-header .global-nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      #global-header .global-nav {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%;
        margin-left: 0%;
        margin-top: -1.5em; }
        #global-header .global-nav:last-child {
          margin-right: 0; } }
    #global-header .global-nav a {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%;
      display: block;
      text-decoration: none;
      color: #333;
      border-bottom: 3px solid #333;
      transition: color 1s, border 1s; }
      #global-header .global-nav a:last-child {
        margin-right: 0; }
      @media screen and (max-width: 600px), screen and (max-device-width: 600px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-header .global-nav a {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 46.28851%;
          padding-top: 1.5em; }
          #global-header .global-nav a:last-child {
            margin-right: 0; }
          #global-header .global-nav a:nth-child(2n) {
            margin-right: 0px; } }
      @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-header .global-nav a {
          border-bottom-width: 6px; } }
      #global-header .global-nav a:hover {
        color: #853a2d;
        border-bottom-color: #853a2d; }
      #global-header .global-nav a:active {
        color: #d74127;
        border-bottom-color: #d74127; }

#global-footer {
  display: block;
  margin-top: 2em;
  font-size: 0.8em; }
  #global-footer::after {
    clear: both;
    content: "";
    display: block; }
  #global-footer:before {
    content: "";
    display: block;
    border-top: 3px solid #333;
    width: 8.4716em;
    margin-bottom: 2em; }
    @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      #global-footer:before {
        border-top-width: 6px; } }
  #global-footer .newsletter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #global-footer .newsletter:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      #global-footer .newsletter {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        #global-footer .newsletter:last-child {
          margin-right: 0; } }
    #global-footer .newsletter p {
      max-width: calc(350px + 4.2358em); }
      @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-footer .newsletter p {
          max-width: 100%; } }
    #global-footer .newsletter input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      box-sizing: border-box;
      padding: 3px 7px;
      border-style: solid;
      border-color: #333;
      border-width: 2px;
      border-radius: 0px;
      font-size: 16px;
      line-height: 1.5em;
      font-family: "Source Sans Pro", sans-serif !important; }
      @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-footer .newsletter input {
          border-width: 4px;
          font-size: 1.4em; } }
    #global-footer .newsletter input[type=email], #global-footer .newsletter input[type=text] {
      box-sizing: border-box;
      width: calc(100% - 4.2358em);
      max-width: 350px; }
      @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-footer .newsletter input[type=email], #global-footer .newsletter input[type=text] {
          width: 75%;
          max-width: 75%; } }
    #global-footer .newsletter input[type=submit] {
      box-sizing: border-box;
      width: 4.2358em;
      text-align: center;
      color: white;
      background: #333;
      margin-left: -5px; }
      @media screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
        #global-footer .newsletter input[type=submit] {
          width: 25%;
          max-width: 25%;
          margin-left: -10px; } }
  #global-footer .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 25.58941%; }
    #global-footer .info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px), screen and (max-device-width: 900px) and (max-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) {
      #global-footer .info {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%;
        margin-top: 2em; }
        #global-footer .info:last-child {
          margin-right: 0; } }

figure {
  margin: 0; }
  figure figcaption {
    font-size: .8em;
    color: #666; }

/*# sourceMappingURL=base.css.map */
