# actual dependencies to run the application
orator
markdown2
boto3<1.8 # because moto is fucked up on a newer version
flask
shortuuid
raven

# development/test dependencies
nose
expects
freezegun
moto==1.3.6 # because moto 1.3.7 literally just doesn't work
