{% extends "base.html" %}

{% block main %}
    <h1>Events</h1>

    <ul>
        <li><a href="/events/new">new event</a></li>
    </ul>

    {% if events|length > 0 %}
    <table>
    {% for event in events %}
        <tr>
            <td>
                {% if not event.future_event %}
                <p><strong>PAST EVENT</strong></p>
                {% endif %}
                <p>
                    {{ event.date }}
                    {%- if event.time is defined %}<br />
                    {{ event.time }}
                    {%- endif -%}
                </p>
            </td>
            <td>
                <p>
                    <strong>{{ event.name }}</strong><br />
                    {{ event.location }}
                </p>

                {{ event.content|safe }}
            </td>
            <td>
                <ul>
                    <li><a href="/{{prefix}}/{{event.pk}}/edit">edit</a></li>
                    <li><a href="/{{prefix}}/{{event.pk}}" data-method="delete">delete</a></li>
                </ul>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No events created</p>
    {% endif %}
{% endblock %}
