.games-we-play {
    section.game {
        @include row;
        display: flex;
        margin-bottom: 2em;

        @include media-medium {
            display: block;
        }

        .title {
            @include span-columns(6);
            flex: 1;
            order: 1;

            text-decoration: none;
            border-bottom-width: 0px;
            color: white;

            margin-left: -1 * (2 * $gutter);
            padding-left: 2 * $gutter;

            @include media-medium {
                margin-bottom: 2em;

                margin-left: -($gutter);
                padding-left: $gutter;
                padding-right: $gutter;
            }

            @include media-medium {
                @include span-columns(4 of 4);
                text-align: center;
            }

            h2 {
                margin-top: .5em;
                color: white;
                position: relative;

                img {
                    max-height: 1em;
                    max-width: 90%;
                    filter: invert(100%);
                }

                @include media-medium {
                    margin-top: 4em;
                    margin-bottom: 2em;
                }
            }

            &.hero {
                background-size: cover;
                background-position: center center;
                min-height: 8em;

                position: relative;

                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, .3);
                }
            }

        }

        .description {
            @include span-columns(6);
            margin-top: 0.5em;
            flex: 1;
            order: 1;

            @include media-medium {
                @include span-columns(4 of 4);
            }
        }
    }
}
