@import "neat/neat";

article.game {
    @include row();

    section.content {
        @include span-columns(8);
    }

    section.aside {
        @include span-columns(4);

        .facts tbody tr {
            td {
                &:first-child {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 10px;
                }
            }
        }
    }

    .header {
        text-align: center;
        margin-bottom: 2em;

        h1 {
            margin: 0 0 20px;
            padding: 0;
        }
        .subtitle {
            font-style: italic;
            font-size: 1.5em;
            margin: 0;
            padding: 0;
        }

        &.hero {
            width: calc(100% + #{4 * $gutter});
            margin-left: -(2 * $gutter);

            padding: 10em 0 3em;

            background-size: cover;
            background-position: center center;
            position: relative;

            h1 {
                color: white;
                position: relative;
            }
            .subtitle {
                color: #ccc;
                position: relative;
            }

            &::before {
                position: absolute;
                display: block;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .3);
            }
        }
    }
}
