@import "neat/neat";

article.index {
    @include row;

    section.page {
        @include span-columns(7);

        @include media-medium {
            @include span-columns(4 of 4);
        }

        .big-text {
            font-size: 1.5em;
        }
    }

    section#events {
        @include span-columns(4);
        @include shift(1);

        @include media-medium {
            @include span-columns(4 of 4);
            @include shift(0);

            margin-top: 2em;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 0;
        }

        .event {
            border-bottom: 2px dashed #666;
            margin-top: 2em;

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                border-bottom-width: 0px;
            }

            @include media-medium {
                .description p {
                    font-size: .8em;
                    line-height: 1.875em;
                }
            }
        }
    }
}
