@import "neat/neat";

article.index {
    section.content {
        @include span-columns(8);

        @include media-medium {
            @include span-columns(4 of 4);
        }

        .big-text {
            font-size: 1.5em;
        }
    }

    section#events {
        @include span-columns(4);

        @include media-medium {
            @include span-columns(4 of 4);
            margin-top: 2em;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 0;
        }

        .event {
            border-bottom: 2px dashed #666;
            margin-top: 2em;

            @include media-retina-medium {
                border-bottom-width: 4px;
            }

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                border-bottom-width: 0px;
            }

            @include media-medium {
                .description p {
                    font-size: .8em;
                    line-height: 1.875em;
                }
            }

        }
    }
}
