@import
url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,400i,700,700i');

$font-sans: "Source Sans Pro", sans-serif;
$font-serif: "PT Serif", "Source Serif Pro", "Gentium Book Basic", serif;

$font-size: 20px;
$line-height: ($font-size * 1.5);


body {
  font-family: $font-serif;
  font-size: $font-size;
  line-height: $line-height;
}

h1, h2, h3 {
  padding-top: 0;
  margin-top: 0;
  font-family: $font-sans;
  font-weight: 900;
  line-height: $line-height;
  color: $blue;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
}

h3 {
  font-size: 1.2em;
  margin: 0em;
  color: black;
}

p {
  line-height: $line-height;
  margin: 0 0 $line-height;
}

a {
  color: #4dadf7;
}
