$blue: #1e3756;
$red: #d74127;
$black: #333;

$medium: 900px;

@import "neat/neat";

@import "media";
@import "type";
@import "index";
@import "game";
@import "games_we_play";
@import "page";

body {
    background: #eff1f5;
    color: $black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

#body {
    @include outer-container;
    background: white;
    box-sizing: content-box;
    padding: (2 * $gutter);

    @include media-medium {
        padding: $gutter;
    }

    @include media-giant {
        margin: 4em auto;
    }
}

#global-header {
    @include row;
    margin-bottom: 4em;
    text-align: center;

    #logo {
        margin-bottom: 1em;

        img {
            height: 10em;
        }
    }

    .global-nav {
        @include span-columns(8);
        @include shift(2);

        @include media-medium {
            @include span-columns(8 of 8);
            @include shift(0);

            margin-top: -$line-height;
        }

        a {
            @include span-columns(2 of 8);

            display: block;
            text-decoration: none;

            color: $black;
            border-bottom: 3px solid $black;

            transition: color 1s, border 1s;

            @include media-small {
                @include span-columns(2 of 4);
                padding-top: $line-height;

                &:nth-child(2n) {
                    margin-right: 0px;
                }

            }

            @include media-retina-medium {
                border-bottom-width: 6px;
            }

            &:hover {
                color: mix($black, $red);
                border-bottom-color: mix($black, $red);
            }

            &:active {
                color: $red;
                border-bottom-color: $red;
            }
        }
    }
}

#global-footer {
    @include row;
    margin-top: 2em;

    font-size: 0.8em;

    &:before {
        content: "";
        display: block;
        border-top: 3px solid $black;
        width: $column * 2;
        margin-bottom: 2em;
    }

    .newsletter {
        @include span-columns(6);

        @include media-medium {
            @include span-columns(4 of 4);
        }

        p {
            max-width: calc(350px + #{$column});

            @include media-retina-medium {
                max-width: 100%;
            }
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            margin: 0;
            box-sizing: border-box;
            padding: 3px 7px;

            border-style: solid;
            border-color: $black;
            border-width: 2px;
            border-radius: 0px;

            font-size: ($font-size * 0.8);
            line-height: $line-height;
            @include font-sans;

            @include media-retina-medium {
                border-width: 4px;
                font-size: 1.4em;
            }
        }

        input[type=email], input[type=text] {
            box-sizing: border-box;
            width: calc(100% - #{$column});
            max-width: 350px;

            @include media-retina-medium {
                width: 75%;
                max-width: 75%;
            }
        }

        input[type=submit] {
            box-sizing: border-box;
            width: $column;

            text-align: center;

            color: white;
            background: $black;
            margin-left: -5px;

            @include media-retina-medium {
                width: 25%;
                max-width: 25%;
                margin-left: -10px;
            }
        }
    }

    .info {
        @include span-columns(3);
        @include shift(3);

        @include media-medium {
            @include span-columns(4 of 4);
            @include shift(0);

            margin-top: 2em;
        }
    }
}

figure {
    margin: 0;

    figcaption {
        font-size: .8em;
        color: #666;
    }
}
