article.index {
    @include row;

    section.page {
        @include span-columns(7);

        .big-text {
            font-size: 1.5em;
        }
    }

    section#events {
        @include span-columns(4);
        @include shift(1);

        h2 {
            font-size: 1.5em;
            margin-top: 0;
        }
    }
}
