<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/index.css" />
</head>
<body>

    <div class="left third">
      <div class="info">
        <img src="/assets/images/square_logo.svg" alt="Chicago MegaGames" /><br />

        <a class="contact" href="mailto:info@chicagomegagames.com">info@chicagomegagames.com</a>
      </div>
    </div>

    <div class="two-thirds right content">
      <div class="third page page-about">
        <h2>About</h2>

        <div class="page-text">
          {{ site.pages.about.content }}
        </div>
      </div>

      <div class="third page page-blog">
        <h2><a href="/blog">Blog</a></h2>
      </div>

      <div class="two-thirds page page-next-event">
        <div class="third">
          <h2>{{ site.calendar.upcoming_games[0].date }}</h2>
          <h1>{{ site.calendar.upcoming_games[0].name}}</h1>
          <a href="{{ site.calendar.upcoming_games[0].tickets.link }}">
            {{ site.calendar.upcoming_games[0].tickets.text }}
          </a>
        </div>

        <div class="third">
          {{ site.calendar.upcoming_games[0].note }}
        </div>
      </div>

      {% for game in site.games %}
      <div class="two-thirds game game-{{ game.slug }}">
        <h1>{{ game.name }}</h1>

        {{ game.blurb }}
      </div>
      {% endfor %}
    </div>

  {#
  <script>
    if (document.domain == "chicagomegagames.com") {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80993204-1', 'auto');
      ga('send', 'pageview');
    }
    #}
  </script>
</body>
