<tr>
    <td>
        <label for="meta[{{key}}]"
            {%- if details['hint'] %} title="{{ details['hint'] }}"{%- endif -%}
        >
            {{key}}
        </label>
    </td>
    <td>
    {%- if details['type'] == "markdown" %}
        <textarea name="meta[{{key}}]" data-metadata-name="{{key}}">
            {%- if has_model -%}
                {{model[key]|safe}}
            {%- endif -%}
        </textarea>
    {%- elif details['type'] == "image" %}
        <input type="text" name="meta[{{key}}]"
        {%- if has_model %} value="{{model[key]|safe}}" {% endif -%}
        data-metadata-name="{{key}}" data-metadata-type="value" />
        {%- if has_model and model[key] %}
        <br />
        <img src="{{ model[key] }}" />
        {%- endif %}
    {%- elif details['type'] == "boolean" %}
        <input type="checkbox" data-metadata-name="{{key}}" name="meta[{{key}}]"
            {%- if has_model -%}
                {%- if model[key] is defined and model[key] %} checked {% endif -%}
            {%- endif -%}
        />
    {%- else %}
        <input type="text" name="meta[{{key}}]"
        {%- if has_model %} value="{{model[key]|safe}}" {% endif -%}
        data-metadata-name="{{key}}" data-metadata-type="value" />
    {%- endif %}
    </td>
</tr>
