{% extends "base.html" %}

{% if model is defined and model %}
    {% set has_model = True %}
{% else %}
    {% set has_model = False %}
{% endif %}

{% block main %}
    <form id="edit">
    {% if has_model %}
        <h1>edit: {{model.filename}}</h1>
    {% else %}
        <h1>new {{ model_name|lower }}</h1>
    {% endif %}
        <p>
            Hover on metadata name for more information
        </p>

        <input type="submit" value="save page" />

        {% if show_filename %}
        <table class="meta"><tr>
            <td><label for="filename">Filename</label></td>
            <td>
                <input type="text" name="filename"
                {%- if has_model -%}
                    value="{{model.filename|safe}}"
                {%- endif -%}
                />
            </td>
        </tr></table>
        {% endif %}

        <h2>required meta</h2>
        <table class="meta">
            {% for key, details in required_meta.items() -%}
                {% include "models/_meta_row.html" %}
            {% endfor -%}
        </table>

        <h2>body</h2>
        <textarea name="content">{%- if has_model -%}{{model.markdown|safe}}{%- endif -%}</textarea>

        <h2>optional meta</h2>
        <table class="meta">
            {% for key, details in optional_meta.items() -%}
                {% include "models/_meta_row.html" %}
            {% endfor -%}
        </table>

    </form>
{% endblock %}
