{% extends "base.html" %}

{% block main %}
    <h1>{{model.name}}</h1>
    <ul class="actions">
        <li><a href="/{{prefix}}/{{model.edit_url}}/edit">edit</a></li>
        <li><a href="/{{prefix}}/{{model.edit_url}}" data-method="delete">delete</a></li>
    </ul>

    <h2>meta</h2>
    <ul>
    {% for key, details in model._all_meta().items() -%}
        {%- if model[key] -%}
            {%- if details.type == "image" -%}
        <li><strong>{{key}}</strong>
            <br /><img src="{{model[key]}}" />
        </li>
            {%- else -%}
        <li><strong>{{key}}</strong>: {{model[key]}}</li>
            {% endif %}
        {% endif %}
    {%- endfor %}
    </ul>

    <h2>body</h2>
    {{model.content|safe}}
{% endblock %}
