<!DOCTYPE>
<html>
  <head>
    <title>
      {%- if title is defined -%}
        {{title}} | Chicago Megagames Editor
      {%- else -%}
        Chicago Megagames Editor
      {%- endif -%}
    </title>

    <link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}" />
    <script src="{{url_for("static", filename="js/lodash.js")}}"></script>
    <script src="{{url_for("static", filename="js/main.js")}}"></script>
  </head>
  <body>
    <div class="sidebar">
      <h1>Chicago Megagames</h1>
      <h2>editor</h2>
      <ul>
        <li><a href="/danger">Danger Zone</a></li>

        {%- if config.deploy_locations is defined -%}
        <li><strong>Live Versions</strong></li>
        <ul>
          {%- for shortname, extras in config.deploy_locations.items() %}
          <li><a href="{{extras.url}}">{{extras.name}}</a></li>
          {%- endfor %}
        </ul>
        {%- endif -%}

        <li><strong><a href="/games/">Games</a></strong></li>
        <li><strong><a href="/pages/">Pages</a></strong></li>
        <li><strong><a href="/events/">Events</a></strong></li>
        <li><strong><a href="/images/">Images</a></strong></li>
      </ul>
    </div>

    <div class="page">
      <div id="notifications"></div>

      {% block main %}{% endblock %}
    </div>
  </body>
</html>
