{% extends "base.html" %}

{% block main %}
    <h1>Danger Zone!</h1>

    <p>
        Some of these actions can be potentially harmful.
    </p>

    <h2>Deploy</h1>
    {%- if site.config.deploy_locations is defined -%}
    <ul>
        {%- for shortname, extras in site.config.deploy_locations.items() %}
        <li><a href="/deploy/{{shortname}}">Deploy to {{extras.name}}</a></li>
        {%- endfor %}
    </ul>
    {%- else -%}
    <p>
        You have no deploy locations configured.
    </p>
    {%- endif -%}
{% endblock %}
