{% extends "base.html" %}

{% block main %}
    <form id="edit">
        <h1>edit: {{model.filename}}</h1>
        <input type="submit" value="save page" />

        <h2>required meta</h2>
        <table class="meta">
            {% for key in required_meta -%}
            <tr>
                <td>
                    <label for="required_meta[{{key}}]">{{key}}</label>
                </td>
                <td>
                    <input type="text" name="required_meta[{{key}}]" value="{{model.metadata[key]|safe}}" data-metadata-name="{{key}}" data-metadata-type="value" />
                </td>
            </tr>
            {% endfor -%}
        </table>

        <h2>body</h2>
        <textarea name="content">{{model.markdown|safe}}</textarea>

        <h2>optional meta</h2>
        <table class="meta">
            {% for key in optional_meta -%}
            <tr>
                <td>
                    <label for="optional_meta[{{key}}]">{{key}}</label>
                </td>
                <td>
                    <input type="text" name="required_meta[{{key}}]" value="{{model.metadata[key]|safe}}" data-metadata-name="{{key}}" data-metadata-type="value" />
                </td>
            </tr>
            {% endfor -%}
        </table>

    </form>
{% endblock %}
