{% extends "base.html" %}

{% block main %}
    <h1>Events</h1>

    <table>
    {% for event in events %}
        <tr>
            <td>
                <p>
                    {{ event.metadata.date }}
                    {%- if event.metadata.time is defined %}<br />
                    {{ event.metadata.time }}
                    {%- endif -%}
                </p>
            </td>
            <td>
                <p>
                    <strong>{{ event.metadata.name }}</strong><br />
                    {{ event.metadata.location }}
                </p>

                {{ event.content|safe }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
