<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link href="http://flourishconf.com/2014/images/favicon.gif" rel="shortcut icon">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<body>
  <div class="container">
    <header>
      <div id="logo">
        <a href="/"><img src="/assets/images/flourish2014.jpg" alt="Flourish! 2014"></a>
      </div>

      <div id="date">
        <h2>Should be April 5</h2>
      </div>

      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/speakers/">Speakers</a></li>
          <li><a href="/schedule/">Schedule</a></li>
          <li><a href="/miniexpo/">Mini Expo</a></li>
          <li><a href="/sponsor/">Sponsorship Info</a></li>
          <li><a href="/directions/">Directions</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/credits/">Credits</a></li>
          <li><a href="/feedback/">Feedback</a></li>
      </nav>
    </header>

    <article>
      {% block main %}{% endblock %}
    </article>

    <aside>
      <div class="sponsors">
        <img src="/assets/images/csdepartment.png" class="sponsor">
        <img src="/assets/images/coe.png" class="sponsor">
        <img src="/assets/images/uic_acm_logo.gif" class="sponsor">
        <img src="/assets/images/uic_lug_logo.gif" class="sponsor">
        
        <a href="sponsor.php">Sponsor Flourish 2014</a>
      </div>
    </aside>
  </div>

  <footer>
    <div class="container">
      <h3>Past Flourishes</h3>
      <p><a href="/2013">2013</a> | <a href="/2012">2012</a> | <a href="/2011">2011</a> | <a href="/flourish2010">2010</a> | <a href="/flourish2009">2009</a> | <a href="/flourish2008">2008</a> | <a href="/index2007.php">2007</a></p>

      <p>
        The statements, opinions, and ideas conveyed in this program do not necessarily 
        express the position of the University of Illinois at Chicago.<br />
        If you have a disability and need an accommodation in order to participate in this 
        event, please call (312) 413-5070 at least one week prior to the event.
      </p>
    </div>
  </footer> 
</body>
</html>
