{% extends 'base_template.html' %}
{% block main %}
{{ page.content }}

{% if page.metadata.hero_image is defined %}
<figure>
  <img src="{{ page.metadata.hero_image }}" {%- if page.metadata.hero_alt is defined %} alt="{{ page.metadata.hero_alt }}" {%- endif %} />
  {% if page.metadata.hero_caption is defined %}
  <figcaption>
    <p>{{ page.metadata.hero_caption }}</p>
  </figcaption>
  {% endif %}
</figure>
{% endif %}
</article>

<article id="upcoming_events">
<h2>Upcoming Events</h2>

<table class="upcoming">
  {% for event in site.calendar %}
  <tr>
    <td>
      {{ event.metadata.date }}
      {%- if event.metadata.time is defined %}<br />{{ event.metadata.time }}{%- endif %}
    </td>
    <td>
      <p>
        <strong>{{ event.metadata.name }}</strong> <br>
        {{ event.metadata.location }}
      </p>

      {{ event.content }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
