body {
  font-family: "Source Code Pro", monospace;
}

.sidebar {
  width: 300px;
  float: left;

  h1 {
    font-size: 1.5em;
    margin: 0;
  }

  h2 {
    font-size: 1.3em;
    margin: 0;
  }
}

.page {
  width: calc(100% - 300px);
  float: right;

  #notifications {
    .notification {
      box-sizing: border-box;
      background: rgb(139, 255, 15);
      overflow-y: hidden;

      transition: height 1s;

      p {
        padding: 10px 20px;
        overflow-y: hidden;
        margin: 0;
      }
    }
  }

  p {
    max-width: 700px;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;

    max-width: 700px;
    height: 20em;

    font-family: "Source Code Pro", monospace;
    font-size: 1em;
  }

  input {
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
  }

  input[type=text] {
    border: 1px solid black;
    padding: 5px;
  }

  table#meta {
    width: 100%;
    max-width: 700px;

    input {
      width: 100%;
    }

    tr td:nth-child(2n -1) {
      text-align: right;
      box-sizing: border-box;
      width: 30%;

      input {
        text-align: right;
        width: calc(100% - 20px);
      }

      &::after {
        content: ":";
        width: 10px;
      }
    }
  }
}
