{% extends 'base_template.html' %}
{% set header_title = "Games we Play | Chicago Megagames" %}

{% block main %}
<article class="games-we-play">
    <h1>Games we Play</h1>
    {% for game in site.games if not game.hidden -%}
    {%- if game.preview_image -%}
        {%- set has_image = True -%}
    {%- else -%}
        {%- set has_image = False -%}
    {%- endif -%}
    <section class="game">
        <a href="{{ url("games/" + game.slug) }}" class="title {%- if has_image %} hero {%- endif %}" {%- if has_image %} style="background-image: url('{{ game.preview_image }}');"{% endif %}>
            <h2>{{ game.logo_or_title }}</h2>
        </a>
        <div class="description">
            {%- if game.blurb %}
            {{ game.blurb|markdown }}
            {%- elif game.subtitle %}
            {{ game.subtitle }}
            {%- endif %}
        </div>
    </section>
    {% endfor %}
</article>
{% endblock %}
