{% extends 'base_template.html' %}
{% block main %}
<article class="index">
    <section class="page">
        {% if page.metadata.hero_image is defined and page.metadata.hero_image %}
        <figure>
            <img src="{{ page.metadata.hero_image }}" {%- if
            page.metadata.hero_alt is defined and page.metadata.hero_alt %} alt="{{ page.metadata.hero_alt }}" {%- endif %} />
            {% if page.metadata.hero_caption is defined and page.metadata.hero_caption %}
            <figcaption>
                <p>{{ page.metadata.hero_caption }}</p>
            </figcaption>
            {% endif %}
        </figure>
        {% endif %}

        {{ page.content }}
    </section>

    <section id="events">
        <h2>Upcoming Events</h2>

        {% for event in site.calendar %}
        <div class="event">
            <div class="meta">
                <h3>{{ event.metadata.name }}</h3>
                <p>
                    <strong>{{ event.metadata.date }}</strong><br />
                    {{ event.metadata.location }}
                </p>
            </div>

            <div class="description">
                {{ event.content }}
            </div>
        </div>
        {% endfor %}
    </section>
</article>
{% endblock %}
