{% extends 'base_template.html' %}

{% if page.hero_image %}
    {% set has_hero = True %}
{% else %}
    {% set has_hero = False %}
{% endif %}

{% block main %}
<article class="index">
    <div class="header {%- if has_hero %} hero{% endif %}" {%- if has_hero %} style="background-image: url('{{ page.hero_image }}');"{% endif %}>
        <h1>{{ page.name }}</h1>
    </div>

    <section class="content">
        {{ page.content }}
    </section>

    <section id="events">
        <h2>Upcoming Events</h2>

        {% for event in site.calendar %}
        <div class="event">
            <div class="meta">
                <h3>{{ event.name }}</h3>
                <p>
                    <strong>{{ event.date }}</strong><br />
                    {{ event.location }}
                </p>
            </div>

            <div class="description">
                {{ event.content }}
            </div>
        </div>
        {% endfor %}
    </section>
</article>
{% endblock %}
