{% extends 'base_template.html' %}

{% if page.name %}
    {% set header_title = page.name + " | Chicago MegaGames" %}
{% endif %}

{% block main %}
<article class="page">
    <section class="content centered">
        {{ page.content }}

        {% if page.hero_image %}
        <figure>
            <img src="{{ page.hero_image }}" {%- if page.hero_alt %} alt="{{ page.hero_alt }}" {%- endif %} />
            {% if page.hero_caption %}
            <figcaption>
                <p>{{ page.hero_caption }}</p>
            </figcaption>
            {% endif %}
        </figure>
        {% endif %}
    </section>
</article>
{% endblock %}
